*
{
    margin: 0;
    padding: 0;
}
/*--------Navigation----------*/
body{
    width: 100%;
}
#nav-bar
{
position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar-brand img
{
    float: left;
    height:100px;
    width: 300px;
    padding-left: 30px;
    margin-right: 10px;
}

.navbar-nav li
{ 
    padding: 0 10px;
    display: inline-block;
    
}
.navbar-nav li a
{    
    float:right;
    text-align:left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}

.navbar{
    background: #fff;
}
.navbar-toggler{
    border:none !important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size:16px;
}

/*----Slider----*/
#Slider
{
    width: 100%;
}


.carousel-item h5
{
    color:#fff;
    font-size: 42px;
}

/*------About-----*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: darkblue;
}
#about  .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content
{
    padding-top: 20px;
}


}



/*-----Get in touch-----*/

#contact
{
 background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40;
    color: #777;
}

.contact-form
{
 padding: 15px;   
}

.form-control
{
    border-radius: 0 !important;
    border:none ! important;
    width: 40%;
    border-radius: 2px;
}

::placeholder
{
    color: #999 ! important;
}


.follow
{
   background: #fff;
    padding: 10px;
    margin: 15px;


}

.contact-info .fa
 { 
     margin: 10px;
color:darkblue;
font-weight:bold;

}

















